<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="maxii">

<xacro:macro name="maxii">

    <material name="green">
      <color rgba="0 1 0 1.0"/>
    </material>

    <material name="grey">
      <color rgba="0.296875 0.296875 0.296875 1.0"/>
    </material>

    <material name="yellow">
      <color rgba="0.75 0.75 0 1.0"/>
    </material>

    <material name="blue">
      <color rgba="0.0390625 0.48828125 0.70703125 1.0"/>
    </material>

    <material name="black">
      <color rgba="0 0 0 1.0"/>
    </material>


    <link name = "base_link">
    </link>

    <link name="chassis">
      <inertial>
        <origin xyz="-0.0045758 0.077937 0.20368" rpy="0 0 0" />
        <mass value="2.0333" />
        <inertia ixx="0.040785" ixy="-0.00045334" ixz="7.2074E-05" iyy="0.077439" iyz="3.0873E-05" izz="0.045595" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/chassis.STL" />
        </geometry>
        <material name="green"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/chassis.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="chassis_joint" type="fixed">
      <origin xyz="0 0.225 0" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="chassis" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="ponte1">
      <!-- <inertial>
        <origin xyz="-0.0486832445707459 -0.0157825528331647 0.47101385376825" rpy="0 0 0" />
        <mass value="0.600172688597701" />
        <inertia ixx="0.00226804513830582" ixy="6.12976942084316E-06" ixz="0.000279583144630229" iyy="0.00684292127016085" iyz="7.5882956045762E-05" izz="0.00651687323092023" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/ponte1.STL" />
        </geometry>
        <material name="grey"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/ponte1.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="ponte1_joint" type="fixed">
      <origin xyz="0 0.225 0" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="ponte1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="cingolo1">
      <inertial>
        <origin xyz="-0.0186478543961228 0.0173558435086227 0" rpy="0 0 0" />
        <mass value="5.37116770201882" />
        <inertia ixx="0.119835058050815" ixy="0.0195379499468078" ixz="4.85729027387283E-17" iyy="0.414599681845954" iyz="3.20551941809325E-17" izz="0.519305950869416" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/cingolo1.STL" />
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/cingolo1.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="cingolo1_joint" type="fixed">
      <origin xyz="-0.094340414586262 -0.301388567 -0.100112309063136" rpy="1.5707963267949 0 3.14" />
      <parent link="base_link" />
      <child link="cingolo1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="supporto_ruote1">
      <!-- <inertial>
        <origin xyz="0.0526663060036786 0.166218829352237 -0.114217631298296" rpy="0 0 0" />
        <mass value="1.4914657297296" />
        <inertia ixx="0.00329358074513175" ixy="-2.17908223379448E-06" ixz="-1.37924455152832E-07" iyy="0.00284342188212464" iyz="0.000292260438790462" izz="0.00253879616079511" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/supporto_ruote1.STL" />
        </geometry>
        <material name="green"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/supporto_ruote1.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="supporto_ruote1_joint" type="fixed">
      <origin xyz="-0.249653977391183 -0.353238567 -0.0779139783362333" rpy="-2.45232668596043 0 1.57" />
      <parent link="base_link" />
      <child link="supporto_ruote1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="sospensioni1">
      <!-- <inertial>
        <origin xyz="7.50000000001583E-05 0.0650296222183087 -0.202443883058338" rpy="0 0 0" />
        <mass value="0.707778785967632" />
        <inertia ixx="0.000965051218011031" ixy="-1.83010710739918E-21" ixz="1.40857955546784E-21" iyy="0.000841499560144093" iyz="0.000229345920337201" izz="0.000286941782579696" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/sospensioni1.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
        </material>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/sospensioni1.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="sospensioni1_joint" type="fixed">
      <origin xyz="0.115815637360445 -0.300738567 -0.0224356268106508" rpy="-1.91368272087089 0 -1.5707963267949" />
      <parent link="base_link" />
      <child link="sospensioni1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="assi1">
      <!-- <inertial>
        <origin xyz="-0.00349982980302466 0.10993552041619 -0.337199163502532" rpy="0 0 0" />
        <mass value="0.523339557828055" />
        <inertia ixx="4.94897213205783E-05" ixy="7.96456415168527E-20" ixz="-2.24741757325193E-19" iyy="0.000630937956802934" iyz="1.49820306072555E-07" izz="0.000630621119535053" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/assi1.STL" />
        </geometry>
        <material name="grey"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/assi1.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="assi1_joint" type="fixed">
      <origin xyz="-0.399632572527583 -0.302738567 -0.131814051628503" rpy="-1.91580745395575 0 1.57" />
      <parent link="base_link" />
      <child link="assi1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="ruote_folli1">
      <!-- <inertial>
        <origin xyz="-0.0708297804341947 -0.25046065639353 -0.00190194641502484"  rpy="0 0 0" />
        <mass value="4.52605063451036" />
        <inertia ixx="0.011308338542401" ixy="4.33680868994202E-19" ixz="-5.04238797227858E-19" iyy="0.011308338542401" iyz="-3.45395305454324E-19" izz="0.0148674253166274" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/ruote_folli1.STL" />
        </geometry>
        <material name="black"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/ruote_folli1.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="ruote_folli1_joint" type="fixed">
      <origin xyz="-0.399632572527583 -0.302738567 -0.131814051628503" rpy="-1.5707963267949 -1.29575751456647 3.14" />
      <parent link="base_link" />
      <child link="ruote_folli1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="ruota_motrice1">
      <!-- <inertial>
        <origin  xyz="5.45397060847108E-15 5.27355936696949E-16 0.0149999999999997" rpy="0 0 0" />
        <mass value="0.390201733508089" />
        <inertia ixx="0.000564504919374045" ixy="3.3881317890172E-19" ixz="-5.2103988734036E-19" iyy="0.000564504919374041" iyz="3.36362584326748E-19" izz="0.00110519879032681" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/ruota_motrice1.STL" />
        </geometry>
        <material name="black"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes1/ruota_motrice1.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="ruota_motrice1_joint" type="fixed">
      <origin xyz="-0.096734450942382 -0.286388567 0.087326977068925" rpy="-1.5707963267949 -1.22950532384837 3.14" />
      <parent link="base_link" />
      <child link="ruota_motrice1" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="ponte2">
      <!-- <inertial>
        <origin xyz="-0.0486832268427383 0.131566507147077 -0.0157825450015048" rpy="0 0 0" />
        <mass value="0.600172198642928" />
        <inertia ixx="0.00226804400768849" ixy="0.00026765453529023" ixz="6.1300083363082E-06" iyy="0.0065168708111092" iyz="4.20234806111459E-05" izz="0.00684291845907596" />
      </inertial> -->
      <visual> <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/ponte2.STL" />
        </geometry>
        <material name="grey"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/ponte2.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="ponte2_joint" type="fixed">
      <origin xyz="0 0.225 0" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="ponte2" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="cingolo2">
      <inertial>
        <origin xyz="-0.0186478543961228 0.0173558435086227 -8.32667268468867E-17" rpy="0 0 0" />
        <mass value="5.37116770201881" />
        <inertia ixx="0.119835058050815" ixy="0.0195379499468073" ixz="8.99361040190704E-17" iyy="0.414599681845954" iyz="3.60868166771734E-17" izz="0.519305950869416" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/cingolo2.STL" />
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/cingolo2.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="cingolo2_joint"  type="fixed">
      <origin xyz="-0.094340414586137 0.31585 -0.100112309063133" rpy="1.57079632679489 0 3.14" />
      <parent link="base_link" />
      <child link="cingolo2" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="sospensioni2">
      <!-- <inertial>
        <origin xyz="7.50000000000473E-05 0.0650296222183087 -0.202443883058338" rpy="0 0 0" />
        <mass value="0.707778785967632" />
        <inertia ixx="0.000965051218011031" ixy="2.68658309636408E-19" ixz="9.89308138341378E-20" iyy="0.000841499560144093" iyz="0.0002293459203372" izz="0.000286941782579696" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/sospensioni2.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
        </material>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/sospensioni2.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="sospensioni2_joint"  type="fixed">
      <origin  xyz="0.115815637360568 0.3165 -0.022435626810643" rpy="-1.91368272087087 0 -1.5707963267949" />
      <parent link="base_link" />
      <child link="sospensioni2" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="supporto_ruote2">
      <!-- <inertial>
        <origin xyz="0.0526663175440345 0.166218854266256 -0.114217636198682" rpy="0 0 0" />
        <mass value="1.49146596516459" />
        <inertia ixx="0.00329358084146592" ixy="-2.17908223062909E-06" ixz="-1.37917900814138E-07" iyy="0.00284342182877972" iyz="0.000292260692244902" izz="0.00253879632064476" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/supporto_ruote2.STL" />
        </geometry>
        <material name="green"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/supporto_ruote2.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="supporto_ruote2_joint" type="fixed">
      <origin xyz="-0.249653977391059 0.264 -0.0779139783362343" rpy="-2.45232668596046 0 1.57" />
      <parent link="base_link" />
      <child link="supporto_ruote2" />
      <axis xyz="0 0 0" />
    </joint>

    <link
      name="assi2">
      <!-- <inertial>
        <origin xyz="-0.00349982980302445 0.200396467664505 0.0595842746769467" rpy="0 0 0" />
        <mass value="0.523339557828055" />
        <inertiaixx="4.94897213205783E-05" ixy="-9.32827811372471E-20" ixz="4.07814610477597E-18" iyy="0.000630567144483909" iyz="-4.93103460490362E-08" izz="0.000630991931854078" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/assi2.STL" />
        </geometry>
        <material name="grey"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/assi2.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint  name="assi2_joint" type="fixed">
      <origin xyz="-0.249653977391059 0.3145 -0.077913978336234" rpy="3.06127497605204 0 1.57" />
      <parent link="base_link" />
      <child link="assi2" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="ruote_folli2">
      <!-- <inertial>
        <origin xyz="-0.0708297804341948 -0.232872324751677 -0.0249019464150249" rpy="0 0 0" />
        <mass value="4.52605063451035" />
        <inertia ixx="0.011308338542401" ixy="0" ixz="-2.38861526467868E-17" iyy="0.011308338542401" iyz="6.21640885808081E-18" izz="0.0148674253166274" />
      </inertial> -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/ruote_folli2.STL" />
        </geometry>
        <material name="black"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/ruote_folli2.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="ruote_folli2_joint" type="fixed">
      <origin xyz="-0.382705304353283 0.2915 -0.127037337056396" rpy="-1.5707963267949 -1.29575751456645 3.14" />
      <parent link="base_link" />
      <child link="ruote_folli2" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="ruota_motrice2">
      <inertial>
        <origin xyz="0.26377726016691 0.128486306304607 -0.043300885340771" rpy="0 0 0" />
        <mass value="0.352270876846932" />
        <inertia ixx="0.000552782855065526" ixy="-1.57290978416372E-18" ixz="3.14137307635142E-21" iyy="0.000552782855065525" iyz="-1.8574920937579E-21" izz="0.00108208098500792" />
      </inertial> 
      <visual>
        <origin xyz="0 0 0"  rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/ruota_motrice2.STL" />
        </geometry>
        <material name="black"/>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tractor_description/meshes/meshes2/ruota_motrice2.STL" />
        </geometry>
      </collision> -->
    </link>

    <joint name="ruota_motrice2_joint" type="fixed">
      <origin  xyz="-0.360511711109277 0.275382964 -0.041159329235658" rpy="1.5707963267949 0 0" />
      <parent link="base_link" />
      <child link="ruota_motrice2" />
      <axis xyz="0 0 0" />
    </joint>

    <!-- Control -->
    <!-- Gazebo plugin for ROS Control -->

    <gazebo reference="chassis">
      <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="cingolo1">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="cingolo2">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="ponte1">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="ponte2">
      <material>Gazebo/Grey</material>
    </gazebo>

    <!-- <gazebo reference="sospensioni1">
      <material>Gazebo/Black</material>
    </gazebo> -->

    <!-- <gazebo reference="sospensioni2">
      <material>Gazebo/Black</material>
    </gazebo> -->

    <gazebo reference="assi1">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="assi2">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="ruota_motrice1">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="ruota_motrice2">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="ruote_folli1">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="ruote_folli2">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="supporto_ruote1">
      <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="supporto_ruote2">
      <material>Gazebo/Green</material>
    </gazebo>

</xacro:macro>

</robot>
