<?xml version="1.0" ?>
<robot name="tractor" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!--- new_gazebo_version should be false by default because pinocchio needs it!-->
    <xacro:arg name="robot_name" default="tractor"/> 
    <xacro:arg name="new_gazebo_version" default="false"/>	


    <xacro:include filename="$(find myrobot_description)/gazebo/gazebo.urdf.xacro">
        <xacro:arg name="task_period" value="$(arg task_period)"/>
	<xacro:arg name="robot_name" value="$(arg robot_name)"/>
    </xacro:include>


 <xacro:include filename="$(find tractor_description)/robots/maxii.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdfs/front_wheel.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdfs/rear_wheel.xacro"/>

  <!-- Accessories -->
  <xacro:include filename="$(find tractor_description)/urdfs/accessories/gps.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdfs/accessories/mag.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdfs/accessories/laser.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdfs/accessories/intel_realsense.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdfs/accessories/velodyne_vlp16.xacro"/>



  <xacro:property name="position_left" value="0.305" />
  <xacro:property name="position_right" value="-0.315" />

  <xacro:maxii/>
  <xacro:front_wheel left_right="left" radius="0.15" length="0.13" position="${position_left}"/>
  <xacro:front_wheel left_right="right" radius="0.15" length="0.13" position="${position_right}"/>
  <xacro:rear_wheel left_right="left" radius="0.12" length="0.13" position="${position_left}"/>
  <xacro:rear_wheel left_right="right" radius="0.12" length="0.13" position="${position_right}"/>
  


  <!-- SENSORS-->
  <!--xacro:robot_gps x="0.05" y="0" z="0.1875" gps_size="0.1"/-->
  <!--xacro:robot_mag x="0" y="0.0" z="0.1" mag_size="0.1"/-->
  <!-- <xacro:robot_laser x="0.0" y="0.0" z="0.245" laser_size="0.1"/> -->
  <!--xacro:intel_realsense x="0.1" y="0.0" z="0.5"/-->
  <!--xacro:velodyne_vlp16/-->




    
</robot>
