catkin_ws/.catkin_tools
catkin_ws/.catkin_tools/*
catkin_ws/build
catkin_ws/build/*
catkin_ws/devel
catkin_ws/devel/*
catkin_ws/install
catkin_ws/install/*
catkin_ws/src/vision/images/
catkin_ws/src/vision/images/*
.vscode
.vscode/*
.git
.git/*
.gitconfig
catkin_ws/src/CMakeLists.txt
