<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

        <xacro:macro name="climbingrobot_transmission">

		<transmission name="slider">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="slider">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="slider">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>

  		<transmission name="mountain_wire_pitch">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="mountain_wire_pitch">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="mountain_wire_pitch">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>



		<transmission name="mountain_wire_roll">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="mountain_wire_roll">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="mountain_wire_roll">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>


		
                <transmission name="wire_base_prismatic">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="wire_base_prismatic">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="wire_base_prismatic">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>


   		<transmission name="wire_base_pitch">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="wire_base_pitch">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="wire_base_pitch">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>


   		<transmission name="wire_base_roll">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="wire_base_roll">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="wire_base_roll">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>


   		<transmission name="wire_base_yaw">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="wire_base_yaw">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="wire_base_yaw">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>

 
                <transmission name="hip_pitch">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="hip_pitch">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="hip_pitch">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>
 
                <transmission name="hip_roll">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="hip_roll">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="hip_roll">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>


          	<transmission name="knee">
                        <type>transmission_interface/SimpleTransmission</type>
                        <joint name="knee">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                        </joint>
                        <actuator name="knee">
                                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                                <mechanicalReduction>1</mechanicalReduction>
                        </actuator>
                </transmission>



          	
        </xacro:macro>






</robot>
