<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <arg name="sensors" default="true"/>
        <arg name="task_period" default="0.004"/>
        <arg name="arm" default="false"/>


        <!-- Load the sensors that measured the internal wrench in the joints -->
        <arg name="internal_wrench" default="false"/>
        <arg name="flywheel" default="false" />
        <arg name="new_gazebo_version" default="true" />

        <!-- send solo urdf to param server -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find solo_fw_description)/robots/solo_fw.urdf.xacro'
         new_gazebo_version:=$(arg new_gazebo_version) flywheel:=$(arg flywheel)  task_period:=$(arg task_period)"/>

        <!-- send solo semantic description srdf to param server -->
        <param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(find solo_fw_description)/robots/solo_fw.srdf.xacro'" />
        
        <!-- spawn model -->
        <node name="spawn_solo" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model solo -x 0 -y 0 -z 1"/>

</launch>


