<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- revolute prismatic limits -->

    <xacro:property name="REV_LIMIT" value="0.785" />
    <xacro:property name="REV_LIMIT_PRE_WHEEL" value="1.57" />
    <xacro:property name="LOWER_LIMIT_PRI" value="0." />
    <xacro:property name="UPPER_LIMIT_PRI" value="0.2" />
    
    <!-- center of mass of each part besides shoulder (for inertia) -->
    
    <xacro:property name="CM_XY_UPPER" value="${UPPER_LEG_pos/2}" />
    <xacro:property name="CM_Z_UPPER" value="0" />
    
    <xacro:property name="CM_XY_LOWER" value="${LOWER_LEG_pos + LOWER_LEG_joint_pos}" />
    <xacro:property name="CM_Z_LOWER" value="0" />
    
    <xacro:property name="CM_XY_PRE_WHEEL" value="0" />
    <xacro:property name="CM_Z_PRE_WHEEL" value="0" />
    
    <xacro:property name="CM_XY_WHEEL" value="0" />
    <xacro:property name="CM_Z_WHEEL" value="0" />
    

    <!-- These are absolute distance value, the sign are decided in leg.xacro -->

    <xacro:property name="SHOULDER_pos" value="0.14142" />
    <xacro:property name="UPPER_LEG_pos" value="0.15312" />
    <xacro:property name="LOWER_LEG_pos" value="0.12546" />
    <xacro:property name="LOWER_LEG_joint_pos" value="0.05" />
    <xacro:property name="PRE_WHEEL_pos" value="0.285" />
    <xacro:property name="WHEEL_pos" value="0.10183" />
    
    <xacro:property name="VELOCITY" value="58.17764173" />


    <!-- torque limits -->
    <xacro:property name="MAX_TORQUE" value="300" />
    <xacro:property name="MAX_FORCE_LOWERLEG" value="10000" />
    
    
    <!-- material colors -->
     <material name="orange">
     <color rgba="0.800 0.331 0.183 1"/>
    </material>
    
    <material name="blue">
     <color rgba="0.051 0.144 0.800 1"/>
    </material>
    
    <material name="gray">
     <color rgba="0.638 0.779 0.819 1"/>
    </material>


</robot>
