<?xml version="1.0" ?>
<launch>
	<arg name="task_period" default="0.004"/>

        <!-- send hyq urdf to param server -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find jumpleg_description)/urdf/jumpleg.xacro' task_period:=$(arg task_period)"/>


        <!-- send hyq semantic description srdf to param server -->
        <param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(find jumpleg_description)/urdf/jumpleg.xacro' " />


</launch>

